<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<section class="row">
	<article class="center">
	<h1>Welcome to this timetracking tool</h1>
	<p class="col-md-12">Ironhack powered</p>
	<p><a href="/contact">Contact</a>
	<p><a href="projects">Projects</a></p>
	</section>
	</article>
</body>
</html>